@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800&display=block');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=block');

html {
	background: url(cave-bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    overscroll-behavior-y: none;
}

a { text-decoration: none; }

input, button, .emoji-input {
    font-family: 'Merriweather Sans', sans-serif;
}

#content {
    font-size: 16px;
    width: 1020px;
    margin-top: 90px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 60px 40px 60px;
    background-color: #f8f8f8;
	background: url(top.png) center top no-repeat border-box, url(bottom.png) center bottom no-repeat border-box, url(paper.png) center repeat-y padding-box;
	border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;	
	border-right: 0;
	border-left: 0;
}



@media print { #content { border: none; } }

#puzzletitle {
    font-family: 'Knewave', cursive;
    font-weight: 400;
    text-align: center;
    padding: 0 60px 0 60px;
    margin-top: 0;
    color: #684b35;	
	font-size: 40px;
} 

#puzz h2, #puzz h3, #puzz h4 {

	font-family: 'Averia Serif Libre', cursive;
	}

#puzz h4 {
	text-align: left;
	margin-bottom: 0;
}

#puzz ul {
	text-align: left;
	list-style-type: none;
	padding: 0;
}

#puzz .description {
	padding-top: 10px;
	font-style: italic;
	padding-bottom: 20px;
}
